@model IEnumerable<MPOS.Models.ItemsReadyToPurchase>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/json2.js"></script>

    <script src="~/Assets/js/sweetalert.min.js"></script>
    <script src="~/Assets/js/ac-alert.js"></script>
</head>
<body>
    <div>
    </div>
    <div id="PurchasePanel" class="panel panel-success" style="width:465px; height:400px; overflow-y:scroll; background-color:#D0F0C0;">

        @using (Html.BeginForm("SavePurchasedItems", "ItemPurchases", FormMethod.Post))
        {

            <label id="orderPrice" style="color:red;font-size:larger;"><b>Total: @Session["OrderPrice"].ToString() RS | </b></label>
            <label id="lblAvailableBalance" style="color:blue;font-size:larger;"><b>Balance: @Session["EmployeeBalance"].ToString() RS</b></label>

            <table id="tblPurchase" class="table table-bordered table-hover table-condensed" style="overflow-y:scroll;">
                <thead style="background-color:#5CB85C; color:white; font-weight:bold;">
                    <tr class="text-center">
                        <td><b>ItemID</b></td>
                        <td><b>Item</b></td>
                        <td><b>Qty</b></td>
                        <td><b>Unit</b></td>
                        <td><b>Total</b></td>
                        <td><b>Remove</b></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in ViewBag.SelectedItems)
                    {
                    <tr>
                        <td id="tdItem">@items.ItemId</td>
                        <td id="tdItem">@items.ItemName</td>
                        <td id="tdQty">@items.ItemQty</td>
                        <td id="tdUnit">@items.UnitPrice</td>
                        <td id="tdTotal">@items.ItemTotal</td>
                        <td id="tdAction" class="text-center"><input type="button" value="X" class="btn btn-danger" style="font-weight:bold;" onclick="RemoveSelectedItem(@items.ItemId)" /></td>
                    </tr>
                    }
                </tbody>
            </table>

            <div class="row-fluid text-center">
                <input type="submit" style="width:200px; height:40px; font-weight:bolder;" value="PURCHASE" class="btn btn-success btn-glow-success shadow-5" />
            </div>

        }
    </div>
</body>
</html>
<style type="text/css">
    html {
        overflow: scroll;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .element::-webkit-scrollbar {
        width: 0 !important
    }
</style>
<script>
    $('input[type="button"]').click(function (e) {
        $(this).closest('tr').remove()
    })

    function RemoveSelectedItem(id) {
        $.ajax({
            type: 'POST',
            data: { id: id },
            url: '@Url.Action("RemoveSeletedItem", "ItemPurchases")',
            success: function (result) {
                $('#orderPrice').html('Total: ' + result.newPrice + ' RS |');
                $('#lblAvailableBalance').html('Balance: ' + result.newBalance + ' RS');
            }
        });
    }

    $(function myfunction() {
        var success = '@TempData["NoItems"]'
                if (success != '') {
                    swal({
                        title: 'ERROR!',
                        text: '@TempData["NoItems"]',
                        icon: "error"
                    });
                }

                var success = '@TempData["AlreadySelected"]'
                if (success != '') {
                    swal({
                        title: 'ERROR!',
                        text: '@TempData["AlreadySelected"]',
                        icon: "error"
                    });
                }

                var success = '@TempData["NoBalance"]'
                if (success != '') {
                    swal({
                        title: 'ERROR!',
                        text: '@TempData["NoBalance"]',
                        icon: "error"
                    });
                }
    })
</script>