@model  MPOS.App_Context.User
@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>M P O S</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
        <meta name="keywords" content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template, free admin theme, free dashboard template" />
        <meta name="author" content="CodedThemes" />
        <!-- Favicon icon -->
        <link rel="icon" href="~/favicon.ico" type="image/x-icon">
        <!-- fontawesome icon -->
        <link href="~/Assets/fonts/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />
        <!-- animation css -->
        <link href="~/Assets/css/animate.css" rel="stylesheet" />
        <!-- vendor css -->
        <link href="~/Assets/css/style.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/Content/custombootstrap.css">
        <link rel="stylesheet" href="~/Content/custombootstrap.min.css">

        <link href="~/Assets/fonts/feather/css/feather.css" rel="stylesheet" />
        <link href="~/Assets/fonts/datta/datta-icon.css" rel="stylesheet" />

        <style type="text/css">
            .special-card {
                background-color: rgba(245, 245, 245, 1);
                opacity: .4;
            }

            .card-cusFoot, .card-cusHead {
                opacity: 1
            }

            ::-webkit-input-placeholder {
                text-align: center;
            }
            input {
                text-align: center
            }
        </style>
    </head>

    <body>

        <div class="auth-wrapper">
            <div class="auth-content">
                <div class="auth-bg">
                    <span class="r"></span>
                    <span class="r s"></span>
                    <span class="r s"></span>
                    <span class="r"></span>
                </div>
                <div class="card">
                    <div class="card-body text-center">
                        <div class="mb-4">
                            <span><img src="~/Assets/images/pos.png" height="50" width="50" alt="System Logo" /></span>
                            <br />
                        </div>
                        <h3 class="mb-4">LOGIN</h3>
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Factory", @autocomplete="off" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="input-group mb-4">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>*@
                        <p style="color:red" class="text-center"><b> @ViewBag.Message</b></p><br>
                        <input class="btn btn-primary shadow-2 mb-4" type="submit" value="Login" name="Login">
                    </div>
                </div>
            </div>
        </div>

        <!-- Required Js  -->
        <script src="~/Assets/js/vendor-all.min.js"></script>
        <script src="~/Scripts/newbootstrap.min.js"></script>
        <script src="~/Assets/js/pcoded.min.js"></script>
    </body>
</html>
}
<script>
    //Cursor on Employee EPF textbpx on page load
    $(function () {
        $('#Username').focus();
    });
</script>