@model MPOS.App_Context.ItemType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
