
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
        <title>Reports</title>
    <!-- Favicon icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/Assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- User icon -->
    <link href="~/Assets/fonts/fontawesome/css/w3.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#9e1030;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("ReportsHome","Reports")">M P O S Reports</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("ReportsHome","Reports")">Home</a></li>
                    <li><a href="@Url.Action("EmployeeDetailedReport","Reports")">Purchase Detailes</a></li>
                    <li><a href="@Url.Action("EmployeeSummaryReport","Reports")">Purchase Summary</a></li>
                    <li><a href="@Url.Action("SoldItemsDetails","Reports")">Sold Item Details</a></li>
                    <li><a href="@Url.Action("ItemTransactionSummary","Reports")">Item Transaction Summary</a></li>
                </ul>
            </div>
        </nav><br />
        @*<div class="main-body">*@
            @*<div class="page-wrapper">*@
                @RenderBody()
                @*@RenderSection("scripts", required: false)*@
            @*</div>*@

        @*</div>*@
    </div>
</body>
</html>
