@model MPOS.App_Context.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaySellingQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaySellingQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemType.ItemType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemType.ItemType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
