@model MPOS.App_Context.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HRID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HRID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factory.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factory.Code)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
